@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
   </p> <p>
    Welcome to GardenIt, the online garden management system. It is intended for educational purposes to demonstrate how to build a full-stack web application. The application is built using .NET Core 3.1 and C#. Please register to try it out! Screenshots below. 
    </p>
    <br/>

    <div>
        <img src="~/image/demo.png" width="100%"/>
    </div>
    <hr/>
    <div>
        <img src="~/image/demo2.png" width="100%"/>
    </div>
</div>

